*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 400px;
    background-color: red;
}
@media screen and (orientation:portrait) {
    .container{
        background-color: yellow;
    }
    
}